span {
    letter-spacing: 10px;
    font-size: 30px;
    color: #423789;
}

#display {
    display: inline;
    color: #17C800; 
    text-align: center;
    vertical-align: middle;
    font-size: 300px;
}

#question {
    display: inline;
    color: #423789;
    text-align: center;
    vertical-align: middle;
    font-size: 300px;
}

.wrong {
    color: red;
}

.interface {
    padding-bottom: 18px;
}

.interface, .stats {
    margin-bottom: 30px;
}

